.container {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.container button {
    background-color: #49248d;
}

.container button:hover {
    background-color: #7f5fba;
}

.container button:disabled {
    background-color: #252525;
}